.subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.content {
    display: inline-flex;
    gap: 16px;
    overflow-x: auto;
}

.card {
    border: solid 2px rgb(220, 220, 220);
    border-radius: 8px;
    width: 290px;
}

.image {
    border-radius: 6px 6px 0 0;
}

.info {
    padding: 8px;
}

.name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px; 
}

.description {
    font-size: 14px;
}